:root {
    --bg-color-dark: black;
    --bg-color-light: white;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.dark-mode {
    background-color: var(--bg-color-dark);
    color: white;
}
/*Top navbar*/
.topnav {
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(36,31,36,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(36,31,36,1);
    box-shadow: 0px 0px 5px 1px rgba(36,31,36,1);
}

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        float: left;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a.icon {
            float: left;
        }

        .topnav a.user-icon {
            float: right;
        }

#myLinks a:hover {
    text-decoration: underline;
}
/*Top navbar end*/

/*Bottom icon navbar*/
#bottom-iconbar {
    background-color: var(--bg-color-light);
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    -webkit-box-shadow: 0px -1px 5px 0px rgba(36,31,36,1);
    -moz-box-shadow: 0px -1px 5px 0px rgba(36,31,36,1);
    box-shadow: 0px -1px 5px 0px rgba(36,31,36,1);
}

    .navbar a {
        float: left;
        width: 20%;
        text-align: center;
        padding: 12px 0;
        transition: all 0.3s ease;
        font-size: 30px;
    }
/*Bottom icon navbar end*/
/*Right Side Begin*/
.dark-bordered {
    -webkit-box-shadow: 0px 0px 5px 1px rgb(36 31 36);
    -moz-box-shadow: 0px 0px 5px 1px rgba(36,31,36,1);
    box-shadow: 0px 0px 5px 1px rgb(36 31 36);
}

.light-bordered {
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
}

.list {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.list-name {
    color: #616161;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.list-group {
    margin: auto;
    padding-left: 10px;
}

.list-group-item {
    background-color: transparent;
    border-color: gray;
}

.tag {
    text-decoration: none;
    color: #616161;
    font-weight: bold
}
/*Right Side End*/
/*Post Area Begin*/
.post {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.post-user {
    text-decoration: none;
    color: #616161;
}

input[type=text] {
    background-color: transparent;
}

textarea[type=text] {
    background-color: transparent;
}

#tag-select {
    background-color: transparent;
}
/*Post Area End*/
/*Entry Begin*/
.entry {
    padding: 20px;
    margin-bottom: 10px;
}

.entry-header {
    text-decoration: none;
    font-weight: 700;
}

.entry-user {
    text-decoration: none;
    color: #616161;
}

.entry-counters {
    color: #0d6efd
}

.align-span {
    vertical-align: top;
}
/*Entry End*/
/*Entry Details Begin*/
#more {
    display: none;
}
/*Entry Details End*/
