@using Platform.Entities.Models
@model List<Tag>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    <button id="new-tag-button" class="btn btn-success" style="width: 100%; margin-bottom: 10px;" onclick="NewTag()">Yeni</button>

    <div id="new-tag-area" style="display: none;" class="well">
        <form id="new-tag-form" class="form-horizontal" role="form" method="post" action="TagAdd">
            <h4>Yeni konu aç</h4>
            <div class="form-group" style="padding:14px; margin-bottom: 0">
                <input class="form-control" placeholder="Tag name" name="TagName" />

            </div>
            <div class="form-group" style="padding:14px;">
                <textarea class="form-control" placeholder="Tag description" name="TagDescription"></textarea>
            </div>
            <div class="form-group" style="padding:14px;">
                <input class="btn btn-primary pull-right" style="width:100%" type="submit" value="Gönder" />
            </div>
        </form>
    </div>
    <div id="tags" class="list-group">

        @foreach (var item in Model)
        {
            <a href="/Entry/Index/@item.TagID" class="list-group-item">
                <i class='bx bx-tag-alt'></i>
                <span>@item.TagName</span>
                <span class="badge bg-primary rounded-pill">
                    @item.Entries.Count
                </span>
                <br />
                <small>@item.TagDescription</small>
            </a>
        }

    </div>
</div>