@using Platform.Entities.Models
@model List<Tag>

@{
    Layout = null;
}
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="/Entry/Index/@item.TagID" class="list-group-item">
            <i class='bx bx-tag-alt'></i>
            <span>@item.TagName</span>
            <span class="badge bg-primary rounded-pill">
                @item.Entries.Count
            </span>
        </a>
    }
</div>