@using Platform.Entities.Models
@model List<Tag>

@{
    Layout = null;
}
<ol class="list-group list-group-numbered">
    @foreach (var item in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><a href="#">@item.TagName</a></div>
                <!--Spor ile ilgili yazılar-->
            </div>
            <span class="badge bg-primary rounded-pill">@item.Entries.Count</span>
        </li>
    }

</ol>
