@using Platform.Entities.Models
@model List<Entry>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- main col left -->
<div class="col-sm-7">
    <div id="new-post-area" class="well">
        
    </div>
    <div id="today-entries">
        <!--jquery ile TodayEntries-->
    </div>
</div>
<!--main col right-->
<div class="col-sm-5">
    <div id="popular-tag-area" class="panel panel-default">
        <div class="panel-heading">
            <a href="/Tag/Index" class="pull-right">Tümünü Görüntüle</a>
            <h4><span>Popular Tags</span><i id="loading-tag" class='bx bx-loader bx-spin'></i></h4>
        </div>
        <div id="popular-tags" class="panel-body">
            <div class="list-group">
                <!--jquery ile çekme-->
            </div>
        </div>
    </div>
    <div id="popular-entry-area" class="panel panel-default">
        <div class="panel-heading">
            <a href="/Entry/Index" class="pull-right">Tümünü Görüntüle</a>
            <h4><span>Popular Entries</span><i id="loading-entry" class='bx bx-loader bx-spin'></i></h4>
        </div>
        <div id="popular-entries" class="panel-body">
            <!--jquery-->
        </div>
    </div>
</div><!--/row-->