@using Platform.Entities.Models
@model List<Entry>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-8 left-side p-3">
    <div id="new-post-area">
        <!--Jquery PostArea-->
    </div>
    <div id="entry-list-area">
        <!--Jquery Entry list-->
    </div>
</div>
<div class="col-sm-4 right-side p-3">
    <div id="popular-tags-area">
        <div class="loading right-list">
            <div class="row list-header">
                <div class="col-4 all-tags">
                    <a href="/Tag/Index">
                        <i class='bx bx-menu-alt-right bx-sm'></i>
                    </a>
                </div>
                <div class="col-4 list-name">
                    <p class="fw-bold">Popular Tag</p>
                </div>
                <div class="col-4 search">
                    <a href="">
                        <i class='bx bx-search-alt bx-sm float-end'></i>
                    </a>
                </div>
                <hr />
            </div>
            <div class="row list-body">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <!--Jquery-->
    </div>
    <div id="popular-entries-area">
        <div class="loading right-list popular-tags light-bordered">
            <div class="row list-header">
                <div class="col-3 all-tags">
                    <a href="">
                        <i class='bx bx-menu-alt-right bx-sm'></i>
                    </a>
                </div>
                <div class="col-6 list-name">
                    <p class="fw-bold">Popular Entries</p>
                </div>
                <div class="col-3 search">
                    <a href="">
                        <i class='bx bx-search-alt bx-sm float-end'></i>
                    </a>
                </div>
                <hr />
            </div>
            <div class="row list-body">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        <!--Jquery-->
    </div>
</div>
