@using Platform.Entities.Models
@model List<Entry>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 home-entries">
            <div class="row entry-post pt-3">
                <form id="entryPost">
                    <div id="TagSelectList" class="mb-3">
                        <!--jquery ile çekiyorum-->
                    </div>
                    <div class="mb-3">
                        <label for="entry-title" class="form-label">Entry Başlığı</label>
                        <input type="text" class="form-control" id="entry-title" placeholder="Başlık giriniz.">
                    </div>
                    <div class="mb-3">
                        <label for="entry-article" class="form-label">Metniniz</label>
                        <textarea class="form-control" id="entry-article" rows="3"></textarea>
                    </div>
                    <div class="d-grid gap-2">
                        <input type="button" class="btn btn-primary" value="Gönder" />
                    </div>
                </form>
            </div>
            <hr />
            <div id="TodayEntryGetAll">
                <!--Entries jquery-->
            </div>
        </div>
        <div class="col-12 col-md-4 right-side">
            <div class="fixed-area">
                <div class="row">
                    <div class="col popular-tags p-2">
                        <center>
                            <h2 style="display:flex;align-items:center;">
                                <span id="loading-tag" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span style="margin:0 auto" class="sr-only">Popüler Taglar</span>
                            </h2>
                        </center>
                        <div id="MostPopularTags">
                            <!--jquery ile çekiyorum.-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <center>
                        <h2 style="display:flex;align-items:center;">
                            <span id="loading-entry" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            <span style="margin:0 auto" class="sr-only">Popüler Entries</span>
                        </h2>
                    </center>
                    <div class="col popular-entries p-2">
                        <div class="list-group">
                            <div id="MostPopularEntries">
                                <!--jquery ile çekiyorum.-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>