@model List<Platform.Entities.Models.Tag>
<select class="form-select" aria-label="Default select example">
    <option selected>Konu seçiniz</option>
    @foreach (var item in Model)
    {
        <option value="@item.TagID">@item.TagName</option>
    }
</select>