@using Platform.Entities.Models
@model List<Entry>
<div class="list-group">
    @foreach (var item in Model)
    {
        <div id="popular-entry" class="list-group-item">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#">
                        <h4>@item.EntryTitle</h4>
                    </a>
                    <a href="#"><i class='bx bx-user-circle'></i><span>@item.Person.Username</span></a>
                </div>
                <div class="panel-body">
                    @if (item.EntryArticle.Length > 97)
                    {
                        <p>@item.EntryArticle.Substring(0, 97)...</p>
                    }
                    else
                    {
                        <p>@item.EntryArticle</p>
                    }
                </div>
            </div>
        </div>
    }
</div>