@using Platform.Entities.Models
<div class="row post light-bordered">
    <div class="col-3 user-photo">
        <img class="img-thumbnail" src="@ViewBag.personImg" alt="" style="width:100%">
    </div>
    <div class="col-9 post-detail">
        <form method="post" id="entry-post">
            <div class="row">
                <div class="col">
                    <strong>Write something</strong>
                    <small><a class="post-user" href=""> @@@ViewBag.username </a></small>
                </div>
                <div class="col post-tag" style="text-align:right">
                    <div id="tag-select-list">
                        <!--Jquery-->
                    </div>
                </div>
            </div>
            <hr />
            <div class="row post-body">
                <input name="PersonID" hidden value="@ViewBag.PersonID " />
                <div class="col post-article">
                    <div class="mb-3">
                        <input name="EntryTitle" type="text" class="form-control" placeholder="Entry Title" />
                    </div>
                    <div class="mb-3">
                        <textarea name="EntryArticle" type="text" class="form-control" rows="3" placeholder="Entry Article"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 float-end">
                </div>
                <div class="col-6">
                    <button class="btn btn-primary float-end float-end" type="button" onclick="EntryPost()">
                        <i class='bx bxs-comment-add bx-sm' style="vertical-align: middle;"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>