<form id="new-post" class="form-horizontal" role="form">
    <h4>What's New</h4>
    <div class="form-group" style="padding:14px; margin-bottom: 0">
        <input class="form-control" placeholder="Başlık" required>
    </div>
    <div class="form-group" style="padding:14px;">
        <textarea class="form-control" placeholder="Metniniz" required></textarea>
    </div>
    <button class="btn btn-primary pull-right" style="width:48%">Post</button>
    <select id="tag-select-list" class="form-control" style="width: 48%" aria-label="Default select example" required>
      <!--jquery-->  
    </select>
</form>