<form id="entryPost">
    <div id="TagSelectList" class="mb-3">
        <!--jquery ile çekiyorum-->
    </div>
    <div class="mb-3">
        <label for="entry-title" class="form-label">Entry Başlığı</label>
        <input type="text" class="form-control" id="entry-title" placeholder="Başlık giriniz.">
    </div>
    <div class="mb-3">
        <label for="entry-article" class="form-label">Metniniz</label>
        <textarea class="form-control" id="entry-article" rows="3"></textarea>
    </div>
    <div class="d-grid gap-2">
        <input type="button" class="btn btn-primary" value="Gönder" />
    </div>
</form>