<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- ===== BOOTSTRAP ===== -->
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- ===== MAİN CSS ===== -->
    <link href="~/Content/assets/css/main.css" rel="stylesheet" />
    <!-- ===== BOX ICONS ===== -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <!-- Navbar Begin -->
    <!-- TopNavbar Begin -->
    <div class="topnav">
        <a href="#home" class="active">
            <i class='bx bxs-book-reader bx-sm'></i>
        </a>
        <div id="myLinks">
            <a href="#">Tags</a>
            <a href="#">Entries</a>
            <a href="#">Users</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="topnavbaropen()">
            <i id="menu-switcher" class='bx bx-right-arrow bx-sm'></i>
        </a>
        <a href="#" class="user-icon">
            <i class='bx bxs-user-circle bx-sm'></i>
        </a>
    </div>
    <!-- TopNavbar End -->
    <!-- Bottom iconbar Begin -->
    <nav id="bottom-iconbar" class="navbar fixed-bottom navbar-expand-sm">
        <div id="icon-bar" class="container-fluid icon-bar">
            <a href="#"><i class='bx bxs-home'></i></a>
            <a href="#"><i class='bx bxs-tag-alt'></i></a>
            <a href="#"><i id="post-icon" class='bx bxs-plus-circle'></i></a>
            <a href="#"><i class='bx bxs-comment-detail'></i></a>
            <a href="javascript:void(0);" onclick="darkmode()"><i id="theme" class='bx bxs-moon'></i></a>
        </div>
    </nav>
    <!-- Bottom iconbar End-->
    <!-- Navbar End -->
    <!-- Page Begin -->
    <div class="container">
        <div class="row pt-3 pb-5">
            @RenderBody()
        </div>
    </div>
    <!-- Page End -->
    <!-- Modal Begin -->
    <!-- Modal End -->
    <!--Main js-->
    <script src="/Content/assets/js/site.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="/Content/assets/js/jquery.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/Content/assets/js/bootstrap.bundle.min.js"></script>

</body>
</html>